# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
backend/env2.py
backend/env3.py


# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data and Logs
*.log
*.sqlite
data/


