services:
  fast1:
    image: fast1
    container_name: fast1_app
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./backend/env.py:/code/env.py:Z
    depends_on:
      - redis-db
      - db-server
    networks:
      - backend-network

  redis-db:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    networks:
      - backend-network

  db-server:
    image: postgres:15
    container_name: postgres_server
    restart: always
    environment:
      # These pull values from your .env file automatically
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data:Z
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
