services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - fast1
    networks:
      - backend-network

  fast1:
    image: fast1
    container_name: fast1_app
    restart: always
    # We remove the public 'ports' mapping and use 'expose'
    # so only Nginx can talk to it inside the network.
    expose:
      - "8000"
    volumes:
      - ./backend/env.py:/code/env.py:Z
    depends_on:
      - redis-db
      - db-server
    networks:
      - backend-network

  redis-db:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    networks:
      - backend-network

  db-server:
    image: postgres:15
    container_name: postgres_server
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ../postgres_data:/var/lib/postgresql/data:Z
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
