.album-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 150px;*/
    margin: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: black;
    color: gainsboro;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.album-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
