.fileList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 4px;
    /*padding: 20px;*/
}

.albumDetails {
    background-color: var(--form-color);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.infoItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: baseline;
}

.infoItem label {
    text-align: right;
    color: gray;
}

.infoItem p {
    text-align: left;
    margin: 8px 1rem;
}

.albumActions {
    background-color: var(--form-color);
    margin: 2px 0;
    padding: 2px 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}
