.album-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: var(--text-primary);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.album-item.other-user {
    background-color: #25282a;
}

.album-item.not-profile {
    background-color: #242740;
}

.album-item.is-private {
    background-color: #402427;
}

.album-item img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

.album-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.album-item h3 {
    color: var(--bright-color);
    grid-column: span 2;
    margin: 0.5rem;
}

.album-item .info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.info>p {
    align-items: baseline;
    text-align: left;
    margin: 0.5rem 0.5rem;
    color: var(--text-primary);
}

.info label {
    align-items: baseline;
    text-align: right;
    margin: 0.5rem 0.5rem;
    color: gray;
}

@media (max-width: 768px) {
    .album-item {
        margin: 0px;
        padding: 10px;
    }

    .album-item .info p,
    .album-item .info label {
        font-size: 12px;
    }

    .hideMobile {
        display: none;
    }

    .album-item>img {
        max-height: 200px;
    }

    .info h3 {
        font-size: 12px;
    }
}