.fileItem {
    background-color: var(--form-color);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    display: block;
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 150px;
    aspect-ratio: var(--ar, 1);
    flex: var(--ar, 1) 1 auto;
}

.fileItem:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 50;
    /* Above others on hover */
}

.selected {
    border-color: var(--bright-color);
    background-color: var(--bright-color);
    box-shadow: 0px 0px 8px var(--bright-color);
}

.selectscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(255, 192, 203, 0.5);
}

.thumbnail {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.thumbnail img.loaded {
    opacity: 1;
}

.fileInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.fileItem:hover .fileInfo {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.info .title,
.info>.title {
    color: var(--bright-color);
}

label {
    color: gray;
}

.info>p {
    color: white;
}