.fileItem {
    border: 1px solid gray;
    /*border-radius: 8px;*/
    padding: 10px;
    background-color: rgb(32, 32, 32);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    display: block;

    aspect-ratio: 1 / 1;

    position: relative;
    overflow: hidden;
}

.fileItem:hover {
    /*transform: scale(1.05);*/
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected {
    border-color: salmon;
    background-color: salmon;
}

.selectscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(255, 192, 203, 0.5);
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border-radius: 4px;*/
    /*margin-bottom: 10px;*/
    object-fit: contain;
}

.fileInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.fileItem:hover .fileInfo {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.title {
    color: salmon;
}

label {
    color: gray;
}
