.topbar {
    background-color: rgb(60, 60, 60);
    color: gainsboro;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topbar .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.topLeft a {
    text-decoration: none;
    color: salmon;
    margin-left: 1rem;
    font-size: 22px;
}
