.topbar {
    background-color: rgb(60, 60, 60);
    color: gainsboro;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.topbar .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.topLeft a {
    text-decoration: none;
    color: salmon;
    margin-left: 1rem;
    font-size: 22px;
}

.topbar input {
    margin: 2px;
}

@media (max-width: 550px) {
    .topbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .topLeft a {
        font-size: 14px;
    }

    .search {
        grid-column: span 2;

        display: flex;
        gap: 8px;
        width: 100%;
        order: 2;
    }
    .search input {
        flex: 1;
    }

    .userinfo {
        order: 1;
        display: flex;
        flex-direction: row;
    }
}
