.welcome-container {
    background-color: hsl(0 0 90%);
}

.t1 {
    font-size: 0.9rem;
    font-weight: 400;
}

/*----------------HERO--------------*/

.hero {
    text-align: left;
    padding: 30vh 0 20vh 3rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.hero img {
    position: absolute;
    left: 500px;
    top: 120px;
    width: 60%;
}

.hero h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

.hero .btn-group {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

/*----------------FEATURES--------------*/

.features {
    text-align: left;
    padding: 20vh 4rem 20vh 4rem;
}

.features h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.features svg {
    color: var(--bright-color);
}

.featgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.featbox {
    background-color: rgba(24, 24, 24, 0.8);
    padding: 1.6rem;
    color: hsl(0 0 76%);
}

.featbox p {
    font-size: 0.9rem;
    color: hsl(0 0 76%);
    margin: 4px 0;
}

.featbox p.head {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0.8rem;
}

.featbox svg {
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

/*----------------WORKS--------------*/

.works {
    padding: 8rem 8rem 16rem 8rem;
    text-align: left;
    max-width: 800px;
}

.works h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.workitem {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 3rem 0;
}

.workitem .name {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(70, 70, 70, 0.7);
    color: var(--bright-color);
    opacity: 0.7;
    margin: 0;
}

.workitem .head {
    grid-column: 2;
    font-size: 1.1rem;
    margin: 0;
    align-content: center;
}

.workitem .detail {
    font-size: 0.9rem;
    grid-column: 2;
    margin: 0;
    margin-top: 0.2rem;
}

.CTA {
    width: 100%;
    background-color: hsl(0 0 20%);
    color: white;
    text-align: center;
    padding: 4rem 0;
}

.CTA h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.CTA p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.CTA button {
    color: hsl(0 0 20%);
    background-color: white;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    font-weight: 600;
}

/*----------------MEDIA QUERIES (MOBILE)-----------------*/

@media (max-width: 768px) {
    .hero {
        padding: 20vh 1rem;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .features {
        padding: 20vh 1rem;
    }
    .featgrid {
        grid-template-columns: 1fr;
    }
    .works {
        padding: 4rem 1rem;
    }
    .workitem {
        grid-template-columns: 120px 1fr;
    }
    .CTA {
        padding: 2rem 0;
    }
    .CTA h1 {
        font-size: 2rem;
    }
}
