.welcome-container .t1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.hero {
    text-align: left;
    margin: 30vh 0 30vh 3rem;
    max-width: 400px;
}

.hero h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

/*----------------------FEATURES--------------------------*/

.features {
    text-align: left;
    margin: 30vh 4rem;
}

.features h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.featgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.featbox {
    background-color: hsl(0 0 20%);
    padding: 1.6rem;
    color: hsl(0 0 76%);
}

.featbox p {
    font-size: 0.9rem;
    color: hsl(0 0 76%);
    margin: 4px 0;
}

.featbox p.head {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0.8rem;
}

.featbox svg {
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

/*----------------------WORKS--------------------------*/

.works {
    margin: 8rem;
    text-align: left;
    max-width: 800px;
}

.works h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.workitem {
    display: grid;
    grid-template-columns: 160px 1fr;
    margin: 3rem 0;
}

.workitem .name {
    font-size: 2rem;
    font-weight: 600;
    color: rgba(70, 70, 70, 0.7);
    margin: 0;
}

.workitem .head {
    grid-column: 2;
    font-size: 1.1rem;
    margin: 0;
    align-content: center;
}

.workitem .detail {
    font-size: 0.9rem;
    grid-column: 2;
    margin: 0;
}
