:root {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;

    /* More Distinct Gray Theme Variables */
    --bg-main: #cfcfd6;
    --bg-glass: rgba(235, 235, 240, 0.85);
    --border-glass: rgba(0, 0, 0, 0.15);

    --bright-color: salmon;
    --form-color: #e5e5ea;

    --text-primary: #1c1c1e;
    --text-secondary: #3a3a3c;

    --btn-bg: #bcbcbf;
    --btn-hover: var(--bright-color);
    --btn-text: #1c1c1e;
    --accent: var(--bright-color);

    background-color: var(--bg-main);
}

body {
    margin: 0;

}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.btn {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    /*grid-column-start: 2;*/
    transition: background-color 0.25s;

    border: none;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    transition: background 0.2s;
    margin: 0 8px;
}

.btn:hover {
    background-color: var(--bright-color);
}